* {
	outline: none!important;
}

html, body {
	height: 100%;
}

.modal-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

label {
	display: block;
}

input[type="text"] {
	box-shadow: none;
	background-color: #FFFFFF;
	border: 1px solid #BBBBBB; 
	padding: 0 10px;
	height: 40px;
	border-radius: 5px;
}
